<app-header titulo="Input Forms"></app-header>
<ion-content class="ion-padding">
  <ion-list>
    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
      <ion-list-header>
        <ion-label>Formulario Válido: {{formulario.valid}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          required
          name="email"
          [(ngModel)]="usuario.email"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pssword</ion-label>
        <ion-input
          type="password"
          required
          name="password"
          [(ngModel)]="usuario.password"
        ></ion-input>
      </ion-item>
      <ion-button 
      type="submit"     
      expand="block" 
      fill="clear" 
      shape="round" [disabled]="formulario.invalid">
        Login
      </ion-button>
    </form>
  </ion-list>
</ion-content>
