<app-header titulo="DateTime"></app-header>
<ion-content>
  <ion-list-header>
    <ion-label>Datos del Nacimiento</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-datetime
      [value]="fechaNaci.toISOString()"
      display-format="DD de MMMM de YYYY"
      (ionChange)="cambioFecha($event)"
    >
    </ion-datetime>
  </ion-item>
  <ion-list-header>
    <ion-label>Restricciones</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Min y Max</ion-label>
    <ion-datetime
      display-format="DD de MMMM de YYYY"
      min="1976-11-06"
      max="2020-12-31"
      (ionChange)="cambioFecha($event)"
    >
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Años</ion-label>
    <ion-datetime
      display-format="YYYY"
      min="1976"
      max="2020"
      (ionChange)="cambioFecha($event)"
    >
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Custom Options</ion-label>
    <ion-datetime
      [pickerOptions]="customPickerOptions"
      [yearValues]="[1976,2020]"
      (ionChange)="cambioFecha($event)"
    >
    </ion-datetime>
  </ion-item>
</ion-content>
